<div  class="topbox">
	<h1>Gps2zip Demo</h1>
		Latitude: <span id="latitude"></span>
		Longitude: <span id="longitude"></span>
		Zip Code: <span id="zip"> </span>
	<span class="instructions">Click the map to look up a zip code for that point.</span>
</div><!-- / -->

<div id="map_canvas"></div>